/* import fonts */
@import url('./Fonts.css');

* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-color: #545454;
  overflow: hidden;
}

/* prevent user action */
.noHighlight {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, supported by most modern browsers */
}


/* text classes */
.titleLarge {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 4vh;
  font-weight: 600;
  line-height: 120%;
  color: #565656;
}
.title {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3.8vh;
  font-weight: 600;
  line-height: 120%;
  color: #565656;
}
.subtitle {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3vh;
  font-weight: 600;
  line-height: 120%;
  color: #565656;
}
.label {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.8vh;
  font-weight: 600;
  line-height: 120%;
  color: #565656;
}
.textNumber {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  line-height: 100%;
  color: #1B1B1B;
}
.textTime {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 100%;
  color: #1B1B1B;
}
.textType {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: #1B1B1B;
}
.textName {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: #1B1B1B;
}
.textTitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.5vh;
  line-height: 100%;
  color: #565656;
}
.textLarge {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 21px;
  line-height: 100%;
  color: #565656;
}
.textMed {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  /* font-size: 2.5vh; */
  line-height: 100%;
  color: #565656;
}
.text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 120%;
  color: #565656;
}
.textUser {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 100%;
  color: #565656;
}
.bold {
  font-weight: 700;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}

/* div classes */
.flexParent {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.div100 {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}
.div80 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.div60 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.div50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.div40 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.div30 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.div20 {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.relativeContainer {
  position: relative;
}
.centerVertical {
  margin-top: auto;
  margin-bottom: auto;
}

/* spacing classes */
.spacing1 {
  margin-bottom: 1%;
}
.spacing2 {
  margin-bottom: 2%;
}
.spacing3 {
  margin-bottom: 3%;
}
.spacing5 {
  margin-bottom: 5%;
}
.spacing8 {
  margin-bottom: 8%;
}
.spacing10 {
  margin-bottom: 10%;
}
.spacing15 {
  margin-bottom: 15%;
}
.spacingTop1 {
  margin-top: 1%;
}
.spacingTopMini {
  margin-top: 1.5%;
}
.spacingTop3 {
  margin-top: 3%;
}
.spacingTop5 {
  margin-top: 5%;
}
.spacingTop10 {
  margin-top: 10%;
}
.marginRight3 {
  margin-right: 3%;
}
.paddingLeft1 {
  padding-left: 1%;
}
.paddingLeft2 {
  padding-left: 2%;
}
.paddingLeft5 {
  padding-left: 5%;
}
.paddingRight5 {
  padding-right: 5%;
}

/* position */
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}

/* image classes */
.logoImage {
  width: 8vw;
  height: 8vw;
}

/* input classes */
.formInput {
  border: none;
  background-color: none;
}
.formInput:focus {
  outline: none;
  border: none;
  background-color: none;
}

/* button classes */
button:hover {
  cursor: pointer;
}
.buttonForm {
  background-color: #0084FE;
  border: none;
  padding: 4%;
  border-radius: 20px;
  text-decoration: none;
}
.buttonForm:hover { 
  background-color: #2817E7;
}
.buttonBlank {
  background-color: inherit;
  border: none;
  text-decoration: none;
}
.buttonLogout {
  background-color: #E1E1E1;
  height: 4.5vh;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 1.5em;
  border: none;
  text-decoration: none;
}
.buttonLogout:hover, .buttonLogout:hover > :first-child {
  background-color: #FF7D05;
  color: #FFFFFF;
}

/* icon classes */
.showIcon {
  color: #999999;
  font-size: 150%;
}
.noUtensilIcon {
  color: #565656;
  opacity: 0.7;
  z-index: 10;
  position: absolute;
  margin-top: -20%;
  margin-left: -20%;
}
.failIcon {
  color: #D10058;
  font-size: 3em;
  cursor: pointer;
}


/* Login and Create Account */
.userForm {
  margin-top: calc(100vh * 0.05);
}
.formInputLogin {
  height: calc(100vh * 0.06);
  width: calc(100vw * 0.16);
  background-color: #FFFFFF;
}
.formFrame {
  width: calc(100vw * 0.23);
  height: calc(100vh * 0.06);
  border-radius: 5px;
  border: 2px solid #52C1FF;
  background-color: #FFFFFF;
}
.formFrame:focus {
  border: 2px solid #2817E7;
}
.formThin {
  height: calc(100vh * 0.04);
}

/* Store Stock */
.storeContainer {
  width: 90vw;
  margin: 5%;
}
.storeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6%;
  row-gap: 20%;
}
.storeDiv {
  background-color: #0084FE;
  border-radius: 1em;
  padding-top: 10%;
  padding-bottom: 10%;
}
.storeDiv:hover {
  background-color: #2817E7;
  cursor: pointer;
}

/* OrderCards */
.headerContainer {
  position: sticky;
  z-index: 11;
  padding-top: 0.5%;
  width: 100vw;
}
.horizontalScrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 5vh;
  height: 100vh;
}
.cardsContainer {
  width: fit-content;
  display: inline-flex;
  padding-right: 5vw;
}
.cardsContainer::after {
  content: "";
  flex-shrink: 0; 
  width: 5vw; 
}
.orderCard {
  min-width: 25vw;
  max-width: 25vw;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-bottom: 10%;
  border: #32CD32 0.1em solid;
  border-radius: 1em;
  background-color: #32CD32;
  height: fit-content;
  box-shadow: 0.5em 0.5em 0.8em 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.orderUpper {
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #32CD32;
  border-radius: 1em 1em 0 0;
}
.orderLower {
  padding: 1%;
  padding-bottom: 3%;
  padding-top: 1%;
  border-radius: 0 0 1em 1em;
  background-color: #FFFFFF;
  height: auto;
  overflow-y: auto;
  line-height: 1em;
}
.typeBox {
  height: auto;
  background-color: #FF7D05;
  padding: 2.5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 3%;
}
.itemGrid {
  display: grid;
  grid-template-columns: repeat(1fr, 5fr);
}
.orderNumberBox {
  float: left;
  background-color: #545454;
  padding: 12%;
  padding-top: 4%;
  padding-bottom: 6%;
  border-radius: 0.4em;
  width: auto;
}

/* popup */
.popupVeil {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.statusContainer {
  position: fixed;
  z-index: 20;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: auto;
  border-radius: 2em;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #FFFFFF;
}

/* Footer */
.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  background-color: #FFFFFF;
}
.footerTextContainer {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
}

/* selected class */
.textWhite {
  color: #FFFFFF;
}
.textBlue {
  color: #0084FE;
}
.textError {
  font-weight: 700;
  color: #FFB700;
}
.strikeThrough {
  text-decoration: line-through;
  text-decoration-color: #B7B6B4;
  color: #B7B6B4;
}
.bgFade {
  background-color: #B7B6B4;
}
.formButtonSelected {
  background-color: #2817E7;
  border: none;
  padding: 4%;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}